.body{
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    background-color: #ffbf69;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    background-color: #ffffff;
    overflow: hidden;
    width: 100vw;
}
.top a{
    color: #ff9f1c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s ease;
}

.top a:hover {
    color: #ff6f1c; /* เพิ่มเอฟเฟ็กต์ hover */
}

.Project{
    width: 400px;
    height: 80px;
    color: #ff9f1c;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    margin: 5vh;
    box-shadow: 
    0px 6px 10px 1px peru
    
}
.about{
    width: 800px;
    height: auto 0;
    padding: 20px;
    color: #ff9f1c;
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 
    0px 6px 10px 1px peru
}
.team{
    width: 400px;
    height: auto 0;
    padding: 20px;
    font-size: 35px;
    color: #ff9f1c;
    background-color: #ffffff;
    text-align: center;
    border-radius: 16px;
    box-shadow: 
    0px 6px 10px 1px peru
}

.member-grid-top {
    display: grid;
    grid-template-areas: "member1 member2 member3";
    gap: 140px;
    justify-items: center;
    padding-top: 20px;
}

.sun { grid-area: member1; }
.power { grid-area: member2; }
.harley { grid-area: member3; }

/* แถวล่าง: สำหรับสมาชิก 2 คน */
.member-grid-bottom {
    display: grid;
    grid-template-areas: ". member4 member5 ."; /* จุด (.) จะเว้นพื้นที่สองข้าง */
    gap: 165px;
    justify-items: center;
    padding-top: 20px;
}

.beam { grid-area: member4; }
.jean { grid-area: member5; }

.sun{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    font-size: 17.2px;
    font-style:oblique;
    box-shadow: 
    0px 0px 10px 1px #ff0101;
    text-shadow: 0 0 2px #8d474788;
}
.power{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    font-size: 17.2px;
    font-style:oblique;
    box-shadow: 
    0px 0px 10px 1px #19e4c2c4;
    text-shadow: 0 0 2px #6aa781f6;
}
.harley{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    font-size: 16.8px;
    font-style:oblique;
    box-shadow: 
    0px 0px 10px 1px #ff2adcd3;
    text-shadow: 0 0 2px #e966ae62;
}
.beam{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    font-size: 16.8px;
    font-style:oblique;
    box-shadow: 
    0px 0px 10px 1px #8ee6fc;
    text-shadow: 0 0 2px #3d3b947c;
}
.jean{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    font-size: 17.2px;
    font-style:oblique;
    box-shadow: 
    0px 0px 10px 1px #7f0fe7f5;
    text-shadow: 0 0 2px #5785dabb;
}