:root {
    --side-margin-vertical: 48px;
    --side-margin-horizontal: calc(48px * 4);
    --main-color: #ffbf69;
    --background-color: #fcf6ee;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper {
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: var(--side-margin-vertical) var(--side-margin-horizontal);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background: var(--background-color);
    height: 60px;
    padding: 0 12px;
    position: fixed;
    top: var(--side-margin-vertical);
    left: var(--side-margin-horizontal);
    right: var(--side-margin-horizontal);
    border-radius: 64px;
}


.navbar a {
    padding: 12px 32px;
    text-decoration: none;
    color: black;
}


.mainbox {
    background: var(--background-color);
    margin-top: 108px;
    flex: 1;
    padding: 48px;
    border-radius: 64px;
    display: flex;
    flex-wrap: wrap;
}


.mainbox .mainboxleft {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.mainbox .mainboxleft .mainboxleft-text {
    font-size: 2rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.mainboxleft-text > * {
    margin-top: 16px;
}


.mainboxleft-text p {
    font-size: 0.9rem;
    margin-right: 92px;
}

.mainboxleft-text h1 {
    font-size: 2.6rem;
    margin-bottom: 16px;
}


.mainbox .mainboxright {
    width: 60%;
    display: flex;
    justify-content: center;
}


.mainboxright img {
    height: 100%;
    width: auto;
    box-shadow: 
        0px 4px rgb(248, 246, 244),
        0px 6px 10px 1px rgb(243, 234, 224);
}


.randombutton {
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.randombutton:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.randombutton span {
    position: relative;
    font-size: 0.6em;
    letter-spacing: 0.05em;
}

.randombutton svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--main-color);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.randombutton:hover:before {
    width: 100%;
}

.randombutton:hover svg {
    transform: translateX(0);
}

.randombutton:active {
    transform: scale(0.95);
}


.searchbox {
    padding-top: 20px;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 100%;
    flex-grow: 1;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    transition: 0.3s ease;
    font-size: 1rem;
    box-shadow: 0px 2px 4px rgba(27, 22, 52, 0.165);
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: var(--main-color);
    background-color: #fff;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
