body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffbf69; /* สีพื้นหลังหลัก */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* กรอบหลักของเนื้อหา */
.container {
    background-color: #FAF5EF; /* สีพื้นหลังของเนื้อหา */
    border-radius: 20px;
    width: 80%;
    max-width: 900px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* สไตล์ของเนื้อหาในหน้า */
.content {
    width: 60%;
}


.result-text {
    display: inline-block; /* ทำให้ข้อความเป็นบล็อกเพื่อให้มีกรอบ */
    padding: 10px 20px; /* ระยะห่างภายในกรอบ */
    border: 2px solid white; /* กรอบสีขาว */
    background-color: #ffbf69; /* สีพื้นหลัง */
    color: #333333; /* สีของข้อความ */
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, sans-serif;
    transition: border-color 0.3s ease; /* ทำให้กรอบเปลี่ยนสีอย่างนุ่มนวล */
}

.result-text:hover {
    border-color: yellow; /* เปลี่ยนกรอบเป็นสีเหลืองเมื่อชี้ */
}

.recipe-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: auto;
    box-shadow: 
    0px 0px 10px 1px #23ff01;
}
.recipe-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ffffff; /* White border for image */
    padding: 5px;
    background-color: #ffffff; /* White background for border */
    border-radius: 4px;
    margin: auto;
}
.recipe-title {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 4px;
}

@font-face {
    font-family: 'Persona5MenuFont';
    src: url('fonts/Persona5MenuFont.tff') format ('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Inter', sans-serif; 
    font-size: 35px; 
    color: #333; 
}

