<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Famous Food Finder</title>
</head>


<body>
    <section class="wrapper">

            <div class="navbar">
                <b>
                <a href="../templates/index.html">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="https://github.com/Harley2zazaa/Famous-Food_Finder">Github</a>
                </b>
            </div>

            <div class="mainbox">
                <div class="mainboxleft">

                    <div class="mainboxleft-text">
                        <h1>Famous Food Finder</h1>
                        <p>
                            Discover Iconic Dishes from Around the World
                            One Bite at a Time!
                        </p>

                        <form action="{% url 'search_recipes' %}" method="GET">
                    
                            <div class="searchbox">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
                                    <g>
                                      <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                      </path>
                                    </g>
                                  </svg>
                                <input class="input" type="text" placeholder="Search English Only" name="query" >
                            </div>
                        
                        </form>
                    </div>



                    <button class="randombutton" id="randomMealButton">
                        <span>Random Meal?</span>
                        <svg width="15px" height="10px" viewBox="0 0 13 10">
                          <path d="M1,5 L11,5"></path>
                          <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </button>
                </div>

                <div class="mainboxright">
                    <img src="https://imgcdn.sigstick.com/71qRNrEPGIL9RVAC3MXO/0-1.png" alt="food">
                </div>
            </div>


    </section>

    <script>
        document.getElementById("randomMealButton").onclick = function() {
            window.location.href = "{% url 'random_recipes' %}"; // ต้องมั่นใจว่า URL ชื่อนี้อยู่ใน urls.py ของ Django
        };
    </script>

    
</body>
</html>

<!-- thank you thats all :p-->
