.body{
    font-family: "Inter", Helvetica, sans-serif;
    font-size: medium;
    background-color:  #ffbf69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
}
.top{
    background-color: #ffffff;
    overflow: hidden;
    width: 100vw;
}
.top a{
    float: left;
    justify-content: center;
    color: #ff9f1c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.Project{
    width: 400px;
    height: 80px;
    color: #ff9f1c;
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    margin: 5vh;
    box-shadow: 
    0px 6px 10px 1px peru
    
}
.about{
    width: 400px;
    height: auto 0;
    padding: 20px;
    color: #ff9f1c;
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 
    0px 6px 10px 1px peru
}
.team{
    width: 400px;
    height: auto 0;
    padding: 20px;
    color: #ff9f1c;
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    box-shadow: 
    0px 6px 10px 1px peru

}