<!DOCTYPE html>
<!-- homepage -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Food Finder</title>
</head>

<body class="body">
    <div class="top-nav"> <!-- I'll link these later for a seperate abotu me page -->
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a class="github-link" href="https://github.com/Harley2zazaa/Famous-Food_Finder">Github</a>
    </div>

    <div class="page-text">
        <h1>Famous Food Finder</h1>
    </div>

    <div class="search-box">
        <input class="search-input" type="input" id="search-input"  placeholder="Something you want?"><button class="search-button">Search</button>
    </div>

    <div class="random-box">
        <button class="rand-button"><i>Feeling lucky?</i></button>
    </div>

</body>
</html>